.bg-verde{
    background-color:#e5fae9 ;
    
}
a{
    text-decoration: none;
}
.bg-verde2{
    background-color: #27a744;
    border: none;
}

.bg-verde3{
    background-color: #d8eddc;
}

.p70{
    width:70%;
}
.btn-verde{
background-color: #27a844;
display: flex;
border: none;
}
.inisesion{
    background-color: #f5f9fa;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 6px;
}
.registro{
    background-color: #f5f9fa;
    display: block;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 6px;
    padding-bottom: 12px;
}

.bg-lightgray {
    background-color: lightgray;
}

.link a:hover{

    color: #27a844 ;
}
.contacto{
    background-color: #f5f9fa;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
    padding-bottom: 10px;
}
.ovfl{
    overflow: hidden;
}